.hamburger-popup {
  .amd-popup-content {
    background-color: #eee;
    .title-card {
      .amd-container-content {
        padding: 0;
        .amd-list-body {
          border-radius: 16rpx;
        }
      }
    }
    .no-title-card {
      .amd-list-body {
        margin-top: 10px;
        border-radius: 16rpx;
      }
    }
  }
}
